@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Tenor+Sans&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-heading {
  font-family: 'Tenor Sans', serif;
}

body {
  background-color: #ffffff;
  color: #121212;
}

.glass-panel {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
}